@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  html {
    @apply bg-[#292929] text-white;
  }
  .backgroundSlateCustom {
    @apply bg-[#313131] text-white;
  }
  .border-color-custom {
    @apply border-neutral-700 border-0;
  }
  .react-datetime-picker__calendar {
    width: 430px !important;
    max-width: 50vw !important;
    background-color: #313131 !important;
    z-index: none !important;
  }
  .react-calendar__tile {
    background-color: #313131 !important;
    color: #fff !important;
  }
  .react-calendar__tile:hover {
    background-color: #494949 !important;
  }
  .react-calendar__tile:disabled {
    background-color: #313131 !important;
    color: #909090 !important;
  }
  .react-calendar__month-view__weekdays {
    @apply text-white;
  }
  .react-calendar__tile--active {
    background-color: #494949 !important;
    border-radius: 0.375rem;
  }
  .react-datetime-picker .react-calendar__navigation__label {
    @apply text-white;
  }
  .react-datetime-picker__clear-button {
    @apply text-white;
  }
  .react-datetime-picker__calendar-button {
    @apply text-white;
  }
  .react-calendar__navigation__label:disabled {
    background-color: #313131 !important;
  }
  .react-datetime-picker__wrapper {
    @apply text-white;
  }
  .react-datetime-picker__inputGroup {
    @apply w-full;
  }
}
